---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Frontend Mentor | Time tracking dashboard",
  description = "This is a solution to the [Time tracking dashboard challenge on Frontend Mentor](https://www.frontendmentor.io/",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{description}" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/public/images/favicon-32x32.png"
    />
    <meta name="generator" content={Astro.generator} />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <!--Website Title -->
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
